.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.modal-empty {
    width: 640px;
    height: 480px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}