@import "./vars.scss";

.default-link {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.inline-block {
    display: inline-block;
}

.color-white {
    color: $white;
}